	*{
			padding:0px;
			margin:0px;
		}
		body,textarea,select,input,button
		{	font-size:14px; 
			color:#333; 
		}
		html,body{
			width:100%;
			height:100%;
			border:0px;
		}
		.clear{
			clear:both;
		}
		#main{
			background-color:#f5f5f5;
			width:1580px;
			margin:0 auto;
		}
		#backTop{
			position:fixed;
			bottom:100px;
			right:30px;
			/*z-index:20;*/
		}
		#top{
			height:110px;
		}
		#title{
			height:70px;
			line-height:70px;
			padding-left:8%;
			background-image:url("images/title.png");
		}
		#title img{
			float:left;
			margin:15px 10px 0px 100px;
		}
		#title ul li{
			float:left;
			list-style:none;
			width:100px;
			text-align:center;
			background:url("images/fen.png") no-repeat right;
		}
		#title ul li a:hover{
			color:white;
			background-color:black;
			border-radius:10px;
			padding:10px 10px;	
		}
		#title ul li.meifen{
			background:none;
		}
		#title h1{
			float:left;
			margin-right:20px;
		}
		#title a{	
			color:white;
			text-decoration:none;
		}
		#sousuo{
			float:left;
			width:240px;
			margin-left:40px;
		}
		#input{
			width:180px;
			font-size:12px;
			border-radius:40px;
			height:25px;
			background-color:#eaeaea;
			outline:none;
		}
		#go{
			height:25px;
			border:none;
			background:none;
			color:grey;
			padding-left:10px;
			cursor:pointer;
			outline:none;
		}
		#nav{
			clear:both;
			height:40px;
			line-height:40px;
			background-image:url("images/nav.png");
		}
		#nav ul{
			margin-left:310px;
		}
		#nav a{
			color:white;
			text-decoration:none;
			padding:4px 10px;
			border-radius:20px;
		}
		#nav a:hover{
			background-color:darkred;
		}
		#nav ul li{
			float:left;
			list-style:none;
			width:110px;
			text-align:center;
		}
		#middle{
			width:1060px;
			height:1500px;
			background-color:white;
			margin:0 auto;
			border:1px solid #b9b9b9;
		}
		#left{
			width:258px;
			height:1500px;
			background-color: #f3f3f3;
			float:left;
			border:1px solid #bfbfbf;
		}
		.rankBar table{
			margin-top:30px;
		}
		.rankBar tr td{
			width:258px;
		}
		.rankBar tr td:hover{
			background-color: #cfcfcf;
		}
		.rankBar tr td img{
			padding:10px;
		}
		.rankBar tr td a{
			text-decoration: none;
			color:black;
		}
		.rankBar tr td a:hover{
			text-decoration: underline;
		}
		#right{
			width:798px;
			height:1500px;
			float:left;
			border:1px solid #bfbfbf;
			background-color: white;
		}
		#rankName{
			width: 738px;
			margin:0 auto;
			margin-top:50px;
		}
		#rankNum{
			width: 738px;
			margin:0 auto;
			margin-top:30px;
		}
		#rankNum a{
			text-decoration: none;
			color:black;
		}
		#rankNum a:hover{
			text-decoration: underline;
		}
		#rankNum table:nth-of-type(1){
			margin-top:10px;
			border:1px solid #bfbfbf;
			border-top:3px solid darkred;
		}
		#rankNum table tr:nth-of-type(odd){
			background-color: #f5f5f5;
		}
		#rankNum table tr td{
			width:92px;
			padding:10px;
		}
		#rankNum table tr td img{
			padding-right:5px;
		}
		#rankNum table tr td:nth-of-type(2){
			width:462px;
		}
		#rankNum table:nth-of-type(2){
			border:1px solid #bfbfbf;
		}
		#bottom{
			height:150px;
			background-color:#f9f9f9;
			border:1px solid #b9b9b9;
		}
		#plan img{
			height:50px;
			width:240px;
		}
		#plan{
			float:left;
			margin-top:40px;
			margin-left:300px;
		}
		#about{
			margin-top:40px;
			margin-left:40px;
			float:left;
			width:400px;
		}
		#about a{
			text-decoration:none;
			color:gray;
		}
		#about span{
			font:12px gray;
		}
		#about img{
			width:74px;
			height:22px;
			margin-left:30px;
		}